* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    text-align: center;
    margin: 1rem auto;
    /* border: 1px solid black; */
}

tr {
    outline: thin solid;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 1rem 2rem;
    /* border: 1px solid black; */

}

.center {
    text-align: center;
}